<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista dei Post</h1>
        <ul>
            <li th:each="post : ${posts}">
                <h2 th:text="${post.titolo}">Titolo</h2>
                <p th:text="${post.utente.nome} ">Descrizione</p>
                <!-- <p th:text="${post.utente}"> Autore: Gino</p> -->
                <img src="${post.utente}" alt="Immagine del post">         
            </li>
        </ul>
</body>
</html>